.social-links {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

a.social-link {
    block-size: 5rem;
    padding: 1.2rem;
    font-size: 1.5rem;
    font-family: var(--title-font);
    color: var(--primary-text-color);
    text-decoration-line: none;

}
a.social-link:link {
    text-decoration-line: none;
    background: var(--fresh-interact-color);
} a.social-link:hover {
    text-decoration-line: none;
    background: var(--hover-interact-color);
} a.social-link:active {
    text-decoration-line: none;
    background: var(--active-interact-color);
} a.social-link:visited:hover {
    color: var(--primary-text-color);
}

.social-link > svg {
    width: 5rem;
    height: 5rem;}
.social-link > svg * {
    fill: var(--primary-text-color) !important;
}

.social-link-text-box {
    position: absolute;
    height: inherit;
    align-content: center;
    display: inline-block;
}
.social-link-text {
    margin: 1rem;
}
