<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="me" href="https://mastodon.gamedev.place/@PureAsbestos">
  <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/feed.xml" title="PureAsbestos's Blog">

  <title>{{page.title}} - {{site.title}}</title>
  <meta name="description" content="{{page.description}}">
  
  <meta property="og:image" content="/icons/android-chrome-512x512.png" />

  <script type="text/javascript" src="/assets/js/pixelart.js" defer=""></script>

  <script> /* Fix for Firefox FOUC. See: https://bugzilla.mozilla.org/show_bug.cgi?id=1404468 */ </script>

</head>